*,
html{
    margin: 0;
    padding:0;
}
body {
    background-color: aliceblue;
}
.a-div{
    display: flex;
    align-items: center;
}
.countainer-navbar{
    background-color: rgb(127, 157, 255);
    display: inline-block;
    width:100%;
    height: 50px;
}
.countainer-navbar ul {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 0px;
    padding: 0px;
}
.countainer-navbar ul li{
    float: left;
    border: 1px solid antiquewhite;
    list-style-type: none;
   padding: 5px;
    margin: 0px;
    color:blueviolet;
}
.countainer-navbar a{
    display: block;
    padding: 10px;
    text-decoration: none;
}
.countainer-navbar a:hover{
    background-color: rgb(140, 178, 253);
    transition: .2s ease-in-out;
    border-radius: 10px;

}
.countainer-navbar ul ul {
    display: none;
    position:absolute;
    top: 50px;
    list-style-type: none;
}
.countainer-navbar ul li:hover > ul {
    display: block;
}
.countainer-navbar ul li {
    display: list-item;
    position:relative;
    float:none;
}

.countainer-content{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.a-content{
    background-color: white;
    height: 80vh;
    width: 200vh;
}
.image-content{
    width: 5%;
    height: 5%;
}

.countainer-footer{
    background-color:  rgb(140, 178, 253);
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height:10vh ;
}

.hi-footer{
    font-size: 40px;
    color: white;
}
